#result {
    display: none;
    background-color: whitesmoke;
    width: 60%;
    text-align: center;
    border-radius: 20px;

}
#result2 {
  display: none;
  background-color: whitesmoke;
  width: 60%;
  text-align: center;
  border-radius: 20px;
}
